body{
  overflow-x: hidden;
}
.content{
  margin-top: 3%;
  width:100%;
  height:83.0vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.progress{
  margin-top: 3%;
  width:100%;
  height:83.0vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.progress-size{
  height: 5% !important;
  width: 5% !important;
}
.searched{
  width:70%;
  height: 100%;
  padding: 0% 2%;
  overflow-y: scroll;
}
.recommended{
  width: 30%;
  height: 100%;
  padding: 0% 2%;
  overflow-y: scroll;
}
.App {
  text-align: center;
}
iframe{
  border: none;
}